<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Elena</title>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAebd8LBGpJ1X9E6seWFbETQ7ZvpzN31Hg&libraries=places"></script>
</head>
<body>
<header>
<div class="text-overlay3">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/help">Help</a></li>
    </ul>
</div>
<div class="header">
    <img src="{{ url_for('static', filename='/images/banner2.png') }}" alt="Logo">
    <div class="text-overlay">Elena</div>
    <div onclick="scrollDown()"  class="text-overlay2">Click here to find your journey ...</div>
</div>
</header>
<!-- Source and Destination Input -->
<div class="outer-container">
    <p id="result" class="pararesult">Fill this form to find the best path on the map</p>
    <div class="inner-container">
    <div class="input-container">
        <label for="source" class="label" >Source*</label>
        <input type="text" id="source" class="textbox2" placeholder="Enter location">
    </div>

    <div class="input-container">
        <label for="destination"  class="label">Destination*</label>
        <input type="text" id="destination" class="textbox2"  placeholder="Enter location">
    </div>
    <div class="input-container">
        <label for="minimize_elevation_gain" class="label">Choose the elevation type:*</label>
        <select id="minimize_elevation_gain" class="textbox2" >
            <option value="0">Maximum</option>
            <option value="1">Minimum</option>
        </select>
    </div>
    <div class="input-container">
        <label for="algorithm" class="label">Choose the Algorithm:*</label>
        <select id="algorithm" class="textbox2" >
            <option value="0">Dijkstra</option>
            <option value="1">Bidirectional Dijkstra</option>
            <option value="2">A*</option>
            <option value="3">Bellman-Ford</option>
            <option value="4">Goldberg-Radzik</option>
            <option value="5">Floyd-Marshall</option>
        </select>
    </div>
    <div class="input-container">
        <label for="transportation_mode" class="label">Transportation Mode:*</label>
        <select id="transportation_mode" class="textbox2" >
            <option value="0">Bike</option>
            <option value="1">Walk</option>
        </select>
    </div>

    <div class="input-container">

        <div class="slider-container">
            <label for="path_percentage" class="label">Path Limit*</label>
        <input type="range" id="path_percentage"  min="100" max="500" value="150" step="1" class="slider" >
            <div class="slider-value" id="sliderValue"></div>
        </div>
    </div>
        <div class="input-container">
    <button class="submit-btn" onclick="showMap()">Go</button>
        </div>
        <div class="input-container">
            <button class="submit-btn2" onclick="reset()">Reset</button>
        </div>
</div>
</div>
</div>

<!-- Map container -->
<div id="map"></div>
</div>

</body>
</html>
